@font-face {
    font-family: 'poppins';
    src: url('fonts/Poppins/Poppins-Regular.ttf');
}

body {
    display: flex;
    justify-content: space-around;
    background-color: var(--marrom);
    font-family: 'poppins';
    margin-top: 20px;
}

#entrada {
    width: 40%;
    height: 500px;
}

#saida {
    background-color: var(--azulClaro);
    width: 50%;
    height: 500px;
    border-radius: 20px;
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.502);
    height: auto;
}

.inputs {
    background-color: var(--azulClaro);
    width: 50%;
    margin: auto;
    margin-top: 120px;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.502);
}

.saidas {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: var(--verdeClaro);
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    justify-content: flex-end;
}

input {
    width: 100%;
    font-family: 'poppins';
    display: flex;
    flex-direction: column;
    border: none;
    background-color: var(--verdeClaro);
}

#btnEnviar:hover {
    background-color: var(--laranjaEscuro);
    cursor: pointer;
}

#btnEnviar {
    background-color: var(--laranja);
    width: 100px;
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.vermelho {
    opacity: 0.5;
    background-color: var(--azulClaro);
    border-radius: 20px;
    padding: 5px;
}

.organizaLista {
    color: var(--marrom);
    display: flex;
    padding: 20px;
    align-items: baseline;
    justify-items: end;
    border-radius: 20px;
    
}

.ajusteQtd {
    width: 20%;
    text-align: center;
}




.organizaValor {
    color: rgb(62, 80, 151);
    width: 40%;
    display: flex;
    justify-content: end;
}



.botaoDinamico {
    background-color: var(--azulClaro);
    border: none;
    font-family: 'poppins';
    margin: 2px;
    border-radius: 5px;
    flex-direction: row;
    width: 50px;
    font-weight: bold;
    color: rgb(85, 84, 84);
    text-align: center;
    
  
}






.botaoDinamico:hover {
    background-color: var(--laranjaEscuro);
    cursor: pointer;
}

#valortotal {
    background-color: var(--verdeClaro);
    color: var(--marrom);
    width: 250px;
    margin: auto;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    font-weight: bold;
}



.checkboxRiscado {
    order: -1;
    height: 20px;
    width: 10%;
    margin-right: 10px;
    text-align: center;

}

.ajusteNome {
    padding: 5px;
    font-size: 15px;
    color: black;
    text-align: center;
    width: 30%;
    
}




/*  Mobile*/

@media screen and (max-width: 768px) {
    body {
        flex-direction: column;
        align-items: center;
    }

    #entrada {
        width: 100%;
        height: 350px;
    }

    #saida {
        background-color: var(--marrom);
        width: 100%;
        
        box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0);
    }

    .inputs {
        background-color: var(--azulClaro);
        width: 50%;
        margin-top: 30px;
    }
    .saidas {
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: auto;
        background-color: var(--marrom);
        padding: 2px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        justify-content: flex-end;
    }

    input {
        width: 100%;
        font-family: 'poppins';
        display: flex;
        flex-direction: column;
    }


    .organizaLista{
        color: var(--marrom);
        background-color: var(--azulClaro);
        margin: 5px;
    }
   
    

    .organizaValor {
        color: rgb(62, 80, 151);
        width: 20%;
    }

    .botaoDinamico {
        background-color: var(--cinza);
        border: none;
        font-family: 'poppins';
        margin: 2px;
        border-radius: 5px;
        flex-direction: row;
        width: 50px;
        font-weight: bold;
        color: rgb(85, 84, 84);
        text-align: center;
        
      
    }

    #valortotal02 {
        background-color: var(--verdeClaro);
        color: var(--marrom);
        width: 93%;
        margin: 0px 0px 20px 0px;
        padding: 10px;
        border-radius: 20px;
        display: inline-block;
        font-weight: bold;
        text-align: center;
    }

 

    .ajusteNome {
        padding: 5px;
        font-size: 15px;
        color: black;
        text-align: center;
        width: 30%;
        
    }



    .checkboxRiscado {
        order: -1;
        height: 20px;
        width: 10%;
        margin-right: 10px;
        text-align: center;
    
    }

    .ajusteQtd {
        width: 20%;
        text-align: center;
    }

}